.restaurantcard{
    position: relative;
}

.restaurantcard img {
    border-radius: 5%;
    height: 25Vh;
    width: 100%;
    position: relative;
}

.restaurantcard-text{
margin: 2%;
}

.favorite-icon {
    position: absolute;
    top: 25px;
    right: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 50%;
  }