.restaurant-info-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  .restaurant-banner .banner-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
  }

  .restaurant-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .restaurant-details {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }
  
  .restaurant-rating {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
  }
  
  .star {
    color: gold;
    margin-left: 5px;
  }
  
  .uber-one {
    display: flex;
    align-items: center;
    color: #C58B00;
  }
  
  .uber-one-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  
  .info-link {
    text-decoration: none;
    color: #666;
    font-size: 14px;
  }
  
  .delivery-info {
    margin-top: 5px;
    font-size: 12px;
    color: #777;
  }
  
  .delivery-icon {
    margin-right: 5px;
  }
  
  .menu-group .d-flex {
    gap: 20px; /* Add space between the cards */
  }
  

  .sticky-menu {
    position: sticky;
    top: 10px; /* Adjust the offset based on your header or layout */
    z-index: 10; /* Ensure it stays on top if needed */
    background-color: white; /* Optional: background to make it stand out */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
  }